<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <h2 class="text-center">About This Site</h2>
                <br/>
                <h3>Developer: Nick Pomroy</h3>
                <p>My name is Nick Pomroy and I am a web developer. This is a work in progress that I will use to show work that I have done. If you wish to contact me send me an email at: nickpomroy@outlook.com</p>
                <h1><%= link_to "https://github.com/npomroy", class: "btn btn-lg btn-info" do %><i class="fa fa-github"></i> Github<% end %></h1>
            </div>
        </div>
    </div>
</div>