<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <h2 class="text-center">About This Site</h2>
            </div>
        </div>
    </div>
</div>