<div class="home-callout text-center container-fluid">
    <h1>Home Page</h1>
</div>
<div class="container">
    <%= link_to "Create Profile", new_user_profile_path(user_id: current_user.id) if user_signed_in? %>
</div>