/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
h1, h2, h3 {
    font-family: 'Noto Sans', sans-serif;
}

//Gradient
.home-callout, .navbar {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+8,52b152+16,008a00+34,005700+84,002400+100 */
    background: #b4ddb4; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #b4ddb4 0%, #83c783 8%, #52b152 16%, #008a00 34%, #005700 84%, #002400 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #b4ddb4 0%,#83c783 8%,#52b152 16%,#008a00 34%,#005700 84%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #b4ddb4 0%,#83c783 8%,#52b152 16%,#008a00 34%,#005700 84%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
       
}

//Nav styles
.navbar {
    border: none;
}

.navbar-brand {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a {
    color: white;
    &:hover {
        color: white;
        opacity: 0.75;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border: 2px solid white;
    &:hover, &:focus {
        background-color: #00c6ff;
    }
}

//Flash styles
.flash-container {
    position: absolute;
    width: 100%;
}

.alert-notice, .alert-alert {
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.5);
    margin-top: -14px;
}

//Homepage styles
.home-callout {
    color: white;
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 100px;
}

//Construction Styles
.np-logo-main {
    border: 1px solid black;
    padding: 0 0 30px 30px;
}