.upskill-well > a > h1 {
    color: #4e80de;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-style: italic;
}

.mun-well > a > img {
    width: 119px;
    height: 72px;
    display: block;
    margin: auto;
}

.reddit-well > a > img {
    width: 140px;
    height: 80px;
    display: block;
    margin: auto;
}