//Profile styles
.img-profile-show {
    width: 200px;
    height: 200px;
}

.well.profile-block {
    color: white;
    background-color: blue;
    h3 {
        margin-top: 0;
    }
}

//Index styles
.img-user-index {
    width: 128px;
    height: 128px;
}

.well.white-bg {
    background-color: white;
}